Source: mimikatz
Section: utils
Priority: extra
Maintainer: Devon Kearns <dookie@kali.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Homepage: http://blog.gentilkiwi.com/mimikatz
Vcs-Git: git://git.kali.org/packages/mimikatz.git
Vcs-Browser: http://git.kali.org/gitweb/?p=packages/mimikatz.git;a=summary

Package: mimikatz
Architecture: all
Depends: ${misc:Depends}
Description: Uses admin rights on Windows to display passwords in plaintext
 Mimikatz uses admin rights on Windows to display passwords of currently logged 
 in users in plaintext. 
